# Context

- This project is a Home Assistant frontend integration, providing a chart-rendering dashboard UI component for statistics recorded by Home Assistant.
- It's aim is to allow use of the AG Charts product within HomeAssistant dashboard, primarily by using NPM packages ag-charts-community and ag-charts-enterprise.
- It is published through HACS.
